workflows/Faze2/Lead-Intake-Pipeline.json
{
  "name": "Lead-Intake-Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "976d8c9f-655d-41cd-ba64-8c6cbb509062",
      "name": "Webhook",
      "webhookId": "962b35f6-3604-4950-9c06-ebe43939f9c2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    first_name: item.body.first_name.trim(),\n    last_name: item.body.last_name.trim(),\n    full_name: `${item.body.first_name.trim()} ${item.body.last_name.trim()}`,\n    email: item.body.email.trim().toLowerCase(),\n    company: item.body.company.trim(),\n    message: item.body.message.trim(),\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "caeafde8-a8f1-46e2-8694-c9ad1c5d0c43",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.company.toLowerCase().replace(/\\s+/g, '') }}.com"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "api_key",
              "value": "9e76a58f1114c03163d2490d57eb0cb478c76a5b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "c177e25c-adf0-4d2b-8464-32b8d45e050a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f14337db-9007-4d36-b7a0-2ac5b49800d1",
              "leftValue": "={{ $json.data.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "2cbd558d-9b3d-4520-9c60-dd1696e0f8ef",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "948c5ce3-8a89-45df-bb6e-3423e340a6ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "effb7c0a-12b5-4767-8d77-b8a43bbc2fba",
                    "leftValue": "={{ $json.data.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "2ea891d3-099d-4f21-a3d6-e09e7fa046b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1510306944651362345/vK0u9o6Zt0Uo_rm6mPImm3E-F61OjgzVyLglRs1YWPQTfJHYj1k-bHUwwTFz6S5a3JQz",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"⚠️ **Lead enrichment failed**\\nName: {{ $('Code in JavaScript').item.json.full_name }}\\nEmail: {{ $('Code in JavaScript').item.json.email }}\\nCompany: {{ $('Code in JavaScript').item.json.company }}\\nReason: Hunter.io nenašel kontakt\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "31b04c77-e9e5-4253-ad48-60e72500ea58",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.score }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "64b1b53f-9f55-4ff0-b556-286a36dc1e43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high_quality"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ac37adab-098b-4ba2-9a14-ad419fea120c",
                    "leftValue": "={{ $json.data.score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "99022806-14f9-472b-8664-e31924615725",
                    "leftValue": "={{ $json.data.score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "a103a179-4968-4b7f-99e0-30536c500ca5",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"parent\": {\n    \"database_id\": \"37087922-0078-80d5-a5a9-f147b7f48cc2\"\n  },\n  \"properties\": {\n    \"Name\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $('Code in JavaScript').item.json.full_name }}\"\n          }\n        }\n      ]\n    },\n    \"Email\": {\n      \"email\": \"{{ $json.data.email }}\"\n    },\n    \"Company\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.data.company }}\"\n          }\n        }\n      ]\n    },\n    \"Score\": {\n      \"number\": {{ $json.data.score }}\n    },\n    \"LinkedIn\": {\n      \"url\": \"{{ $json.data.linkedin_url }}\"\n    },\n    \"Status\": {\n      \"select\": {\n        \"name\": \"new\"\n      }\n    },\n    \"Received At\": {\n      \"date\": {\n        \"start\": \"{{ $('Code in JavaScript').item.json.received_at }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        -208
      ],
      "id": "5c1afbc0-3f28-48da-976c-bc059c6d0419",
      "name": "Notion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1510306944651362345/vK0u9o6Zt0Uo_rm6mPImm3E-F61OjgzVyLglRs1YWPQTfJHYj1k-bHUwwTFz6S5a3JQz",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"content\": \"🟢 **Nový high-quality lead!**\\nName: {{ $('Code in JavaScript').item.json.full_name }}\\nEmail: {{ $('HTTP Request').item.json.data.email }}\\nCompany: {{ $('HTTP Request').item.json.data.company }}\\nScore: {{ $('HTTP Request').item.json.data.score }}\\nLinkedIn: {{ $('HTTP Request').item.json.data.linkedin_url }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -208
      ],
      "id": "977f6932-24b5-4e19-b13e-8bb81bb40d15",
      "name": "Discord"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1248,
        -16
      ],
      "id": "8ab28bfc-7382-40fc-a2cb-0a3d1450ba81",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1510306944651362345/vK0u9o6Zt0Uo_rm6mPImm3E-F61OjgzVyLglRs1YWPQTfJHYj1k-bHUwwTFz6S5a3JQz",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"content\": \"🔴 **Workflow error!**\\nWorkflow: {{ $json.workflow.name }}\\nNode: {{ $json.execution.lastNodeExecuted }}\\nError: {{ $json.execution.error.message }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        -16
      ],
      "id": "6c7b5a84-9bc7-4539-aa06-b5b5bf707284",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ykoQMawMQ5WsyyJm",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ec7b617c-dbc2-4fc7-abfd-835694dbdd2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3232b5b8e9f4019cace588d1d5baeffa94962a1b8e3a3bab111aeb6383547478"
  },
  "id": "ykoQMawMQ5WsyyJm",
  "tags": []
}